cmake

ollama
fastapi
uvicorn
opencv-python
requests
pandas<1.2.0
plotly==4.14.3
keras==2.9.0
Pillow==9.0.1
streamlit==1.10.0
tensorflow==2.9.1
protobuf<3.20,>=3.9.2
dlib-binary
face-recognition
numpy
fpdf
tensorflow
prometheus_client
databases[sqlite]
sqlalchemy
transformers
reportlab
python-multipart


