dlib
ollama
fastapi
uvicorn
opencv-python
requests
protobuf==3.20.*
dlib
face-recognition
numpy
fpdf
tensorflow
prometheus_client
databases[sqlite]
sqlalchemy
transformers
reportlab
python-multipart
opencv-python-headless
plotly
streamlit
